.tagline-section{
    padding-left: 2em;
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(167, 167, 167));
}

.tagline{
    margin-top: 3rem;
}

#tag_image{
    padding: 10px;
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
    height: 20rem;
}

#navbar{
    padding: 0;
    background-color: #2c2c2c;
    margin-bottom: 5%;
}

#home-page-img{
    
    color: white;
    padding: 20px;

    object-fit: cover;
    width: 100%;
    height: 15rem;
}

#navbar-unique{
    padding-top: 20px ;
    text-align: center;
    padding-bottom: 15px ;
    color: rgb(255, 255, 255);
}

#register_button{
    background-color: #ffffff;
    color: black;
}

#register_button::after{
    background-color: #c1ffdd;
    color: black;
}
