.tagline-section{
    
    padding-left: 1em;;
    margin-top: 3rem;
    background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(253, 140, 65));
}

.tagline{
    margin-top: 3rem;
}

#tag_image{
    padding: 10px;
    object-fit: cover;
    width: 102%;
    border-radius: 15px;
    height: 22rem;
}

#navbar{
    padding: 0;
    background-color: #2c2c2c;
    margin-bottom: 5%;
}

#home-page-img{
    
    color: white;
    padding: 10px;

    object-fit: cover;
    width: 100%;
    height: 15rem;
}

#navbar-unique{
    padding-top: 20px ;
    text-align: center;
    padding-bottom: 15px ;
    color: rgb(255, 255, 255);
}

#register_button{
    background-color: #ffffff;
    color: black;
}

#register_button::after{
    background-color: #c1ffdd;
    color: black;
}



@media only screen and (max-width: 600px) {

    .tagline-section{
        padding-left: 0em;
        padding-right: 0.3rem;
        background-image: linear-gradient(to right, rgb(0, 0, 0) , rgb(51, 51, 51));
    }

    #tag_image{
        padding: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
        object-fit: cover;
        width: 102%;
        border-radius: 15px;
        height: 14rem;
    }
}